body {
    background-color: #cfebdf;
    color: #5f634f;
}

button {

}

/* h1 {
    color: #5f634f;
}

h2 {

}

h3 {

} */

header {

}

footer {

}

nav {

}

nav a {


}

nav a:hover {

}

.container {
    background-color: #9bc4cb;
}

.highlight {
    background-color: #dbefbc;
}

.highlight:hover {

}

.profile {

}

#note {

}

.profile-container {
    background-color: #e2fadb;
}

/*
.profile-atts {

}

.profile-eye-color {

}

.profile-features {

}

.profile-hair {

}

.profile-hair-atts {

}

.profile-hair-color {

}

.profile-shape {

} */