$text-color: #5f634f;
$background: #cfebdf;
$main-box: #9bc4cb;
$spotlight: #dbefbc;
$profile-box: #e2fadb;

body {

    background-color: $background;
    color: $text-color;
}   
    
/* button {

} */

/* h1 {
    color: #5f634f;
}

h2 {

}

h3 {

} */

/* header {

}

footer {

}

nav {

}

nav a {


} */

/* nav a:hover {

} */

.container {
    background-color: $main-box;
}

.highlight {
    background-color: $spotlight;
}

/* .highlight:hover {

}

.profile {

}

#note {

} */

.profile-container {
    background-color: $profile-box;
}

.profile-svg {
    width: 20%;
}

/*
.profile-atts {

}

.profile-eye-color {

}

.profile-features {

}

.profile-hair {

}

.profile-hair-atts {

}

.profile-hair-color {

}

.profile-shape {

} */