$text-color: #5f634f;
$background: #cfebdf;
$main-box: #9bc4cb;
$spotlight: #dbefbc;
$profile-box: #e2fadb;

body {

    background-color: $background;
    color: $text-color;
}   
    
/* button {

} */

/* h1 {
    color: #5f634f;
}

h2 {

}

h3 {

} */

/* header {

}

footer {

}

nav {

}

nav a {


} */

/* nav a:hover {

} */

.container {
    background-color: $main-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.highlight {
    background-color: $spotlight;
}

/* .highlight:hover {

}

.profile {

}

#note {

} */

.setting-container {
    border: solid;
}
.setting {
    border: solid;
}
.comportment-container {
    border: solid;
}
.comportment {
    border: solid;
}
.description {
    width: 55%;
    border: solid;
}
.description-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid;
}
.profile-container {
    background-color: $profile-box;
    display: flex;
    justify-content: center;
    width: 140px;
    border: solid;
}

.profile-svg {
    width: 100%;
}

/*
.profile-atts {

}

.profile-eye-color {

}

.profile-features {

}

.profile-hair {

}

.profile-hair-atts {

}

.profile-hair-color {

}

.profile-shape {

} */