// color variables
// $text-color: #5f634f;
// $background: #cfebdf;
// $main-box: #9bc4cb;
// $spotlight: #dbefbc;
// $profile-box: #e2fadb;

$text-color: #2F362F;
$background: #068D9F;
$main-box: #7CA47A;
$spotlight: #E5DC84;
$profile-box: #5C8050;

//text variables
$small: 1.4rem;
$default: 1.6rem;
$highlight-text: 1.7rem;
$h1: 4rem;
$h2: 2.2rem;
$h3: 1.8rem;

:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.25;
}
body {
    background-color: $background;
    color: $text-color;
    font-size: $default;
}   

html {
    border-width: 1px;
}

//  button {

// } 

h1 {
    font-size: $h1;
    font-weight: 600;
    margin-left: 2vw;    
}

h2 {
    font-size: $h2;
    font-weight: 600;
    // margin-left: 1vw;
    margin: 0.5rem 1vw 0.25rem 1vw; 
}

h3 {
    font-size: $h3;
    text-align: center;
    font-weight: 600; 
}

/* header {

}

footer {

}

nav {

}

nav a {


}

/* nav a:hover {

} */

.container {
    background-color: $main-box;
    display: flex;
    flex-direction: column;
    margin: 1rem 3.5%;
    // width: 93%;
}

.highlight {
    // display: inline-block;
    // background-color: $spotlight;
    padding: .1rem .3rem;
    border-radius: 8px;
    font-weight: 400;
    font-style: italic;
    transition: all 1s ease-in-out;
    &:hover {
        background-color: $spotlight;
        position: relative;
        top: 0;
        left: 0;
    }
    
}

/* .highlight:hover {

}

.profile {

}

#note {

} */

.setting-container {
    border: 1px solid;
}
.setting {
    border: 1px solid;
    margin: 0.25rem 2vw;
}
.comportment-container {
    border: 1px solid;
    padding: 0.5rem 2vw 1.5rem 2vw;
}
.comportment {
    border: 1px solid;
}
.description {
    width: 100%;
    // min-width: max-content;
    // border: 1px solid;
    line-height: 200%;
    align-self: center;
}
.description-container {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px solid;
    padding: 1vw 3vw 1vw 2vw;
}
.dummy-gap {
    min-width: 3vw;
}
.profile-container {
    background-color: $profile-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    width: 25%;
    min-width: 140px;
    max-width: 220px;
    border: 1px solid;
    & div {
        width: 80%;
        align-self: center;
        margin-bottom: 1rem;
    }
}

.profile-svg {
    width: 100%;
    align-self: center;
}

/*
.profile-atts {

}

.profile-eye-color {

}

.profile-features {

}

.profile-hair {

}

.profile-hair-atts {

}

.profile-hair-color {

}

.profile-shape {

} */